.flex-video{
    display: flex;
    align-items: center;
    justify-content: center;

}
.flex-container{
    display: flex;
    justify-content: center;
}
#logo {
    display: inline-block;
    position: relative;
}
#logo .speedometer {
    
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 20px solid;
    border-right: 20px solid;
    border-bottom: 20px solid;
    transform: rotate(45deg);
    display: inline-block;
}
#logo .pointer {
    width: 5px;
    height: 50px;
    background: #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    left: 57px;
    position: absolute;
    top: 10px;
    transform:rotate(var(--value));
    transform-origin:bottom;
}
#logo .number{
    font-size: 1vw;
    margin-top: -60px;
    margin-left: 50px;
    position: absolute;
}

#battery:after {
    background-color: #fff;
    border: 2px solid #000;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}

#battery {
    background-color: #fff;
    border: 2px solid #000;
    height: 32px;
    margin-top: 20px;
    margin-left: 2px;
    margin-right: auto;
    position: relative;
    width: 100px;
    padding: 2px;
    
}
#battery .battery-level {
    height: 100%;
    text-align: center;
    margin-top: -27px;
}
